name: frontend
namespace: daniel-lopez-fisag-dev

image:
  repository: danielopezh/comments-frontend
  tag: "{{ tag }}"

replicas: 1

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"

service:
  enabled: true
  port: 80
  targetPort: 80

route:
  enabled: true
  host: frontend-daniel-lopez-fisag-dev.apps.rm3.7wse.p1.openshiftapps.com

hpa:
  enabled: false

statefulset:
  enabled: false
