name: frontend
namespace: daniel-lopez-fisag-dev
image:
  repository: danielopezh/comments-frontend
  tag: "3"
replicas: 1
resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"
service:
  enabled: true
  port: 80
  targetPort: 80
route:
  enabled: true
  host: frontend-daniel-lopez-fisag-dev.apps.sandbox-m4.g2pi.p1.openshiftapps.com
hpa:
  enabled: false
statefulset:
  enabled: false
