name: frontend
namespace: daniel-lopez-fisag-dev

image:
  repository: danielopezh/comments-frontend
  tag: "{{ tag }}"

replicas: 1

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"

service:
  enabled: true
  port: 8080
  targetPort: 8080

route:
  enabled: true
  host: ""

hpa:
  enabled: false

statefulset:
  enabled: false
