name: Frontend CI/CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/comments-frontend:${{ github.run_number }}

      - name: Update Helm Chart
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git clone https://${{ secrets.GH_TOKEN }}@github.com/danielopezh/comments-helm-chart.git
          cd comments-helm-chart
          sed -i '/frontend:/,/backendApi:/ { s/tag: [0-9]*/tag: ${{ github.run_number }}/; }' comments-chart/values.yaml
          git add comments-chart/values.yaml
          git commit -m "Update frontend tag to ${{ github.run_number }}"
          git push
