name: Frontend CI/CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and Push
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/comments-frontend:${{ github.run_number }} .
          docker push ${{ secrets.DOCKER_USERNAME }}/comments-frontend:${{ github.run_number }}
